<!DOCTYPE html>
<html>
  <head>
    <title>Posillu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header-logo">
        <%= link_to("Posillu","/")%>
      </div>
      <ul class="header-menus">
       <li>
         <%= link_to("Posilluとは","/about")%>
         <a href="/log">ログイン</a>
         <a href="/register">新規登録</a>
         <a href="/call">お問い合わせ</a>
       </li>
     </ul>
    </header>
    <%= yield %><<
  </body>
</html>
